apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "nodejs-sqldb-ent-service.fullname" . }}
  labels:
    app: {{ template "nodejs-sqldb-ent-service.name" . }}
    chart: {{ template "nodejs-sqldb-ent-service.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "nodejs-sqldb-ent-service.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "nodejs-sqldb-ent-service.name" . }}
        release: {{ .Release.Name }}
    spec:
      volumes:
      - name: sslkey-volume
        secret:
          secretName: ssl-key-secret
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.httpTargetPort }}
              protocol: TCP
            - name: https
              containerPort: {{ .Values.service.httpsTargetPort }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: {{ .Values.checks.livenessInitialDelay }}
            periodSeconds: {{ .Values.checks.livenessProbeDelay }}
          readinessProbe:
            httpGet:
              path: /
              port: http
          volumeMounts:
          - name: sslkey-volume
            mountPath: /usr/src/app/sslcerts
            readOnly: true
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
